.Grid {
  background-color: chartreuse;
  display: grid;
  grid-template-columns: repeat(40,1fr);
  border-spacing: 0;
  outline: black 1px;
  padding: 0;
}

.Control_Bar{
  background-color: beige;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);

}

.sl_alg__menu{
  color: black;
  animation: growDown 500ms;
}

.sl_alg__option:hover{
  background-color: darkcyan;
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5);
  }
}


