.Grid {
  background-color: chartreuse;
  display: grid;
  grid-template-columns: repeat(40,1fr);
  border-spacing: 0;
  outline: black 1px;
  padding: 0;
}
.container{

}
.Control_Bar{
  background-color: beige;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);

}